<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="openHelp()">
          <ion-icon size="large" name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title  class="size" color="primary">Tasks</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addTodo()">
          <ion-icon size="large" name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item *ngFor="let todo of dataService.todos" (click)="editTodo(todo)">
      <ion-label>{{todo.title}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="todo.isChecked"></ion-checkbox>
    </ion-item> </ion-list>


    <!-- <ion-button (click)="deleteAll()">
      Delete all
    </ion-button>

    <ion-button (click)="getAll()">
      Get all
    </ion-button> -->
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
