.container {
  text-align: center !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  transform: translateY(-65%);
}

.container p {
  font-size: 1.3rem;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container span {
  font-size: 1rem;
  line-height: 2.5rem;
  color: #8c8c8c;
  margin: 0;
}

.weather {
  text-align: center !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin-left: -10px;
}

.weather span {
  height: 150px;
  width: 150px;
  background-color: #ffc7c8;
  border-radius: 50%;
  display: inline-block;
}

.size {
  //font-size: larger;
  font-size: 1.6rem;
  font-family: "Lato";
}
