.container {
    text-align: center !important;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .container p {
    font-size: 1.3rem;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }

  .container span {
      font-size: 1.1rem;
      color: #8c8c8c;
        margin: 0;
  }

.size {
    //font-size: larger;
    font-size: 1.6rem;
    font-family: 'Lato';      
} 

