<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="help-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="medium">Plants</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
