<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Plant</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" text="" icon="chevron-back-circle"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 This is a plant add page
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="photoService.addNewToGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>


